body {
    font-size: 28px;
    padding: 50px;
}

input {
    font-size: 28px;
}
#form-container form {
    display: none;
}
#form-container #form-view {
    display: inline-block;
}

#form-container.edit form {
    display: block;
}
#form-container.edit #form-view {
    display: none;
}

.panel {
    width: 400px;
    border: solid 1px #666;
}

.panel .panel-title * {
    color: #fff;
}

.panel .panel-title {
    height: 44px;
    background-color: #666;
}

.panel .panel-body {
    padding: 20px;
}

.panel .right-icon {
    float: right;
    margin-right: 12px;
    line-height: 44px;
}
